node_modules/
oh_modules/
local.properties
/.idea/
**/.test/
/.appanalyzer/
build/
/.hvigor/
.cxx/
/.clangd/
/.clang-format
/.clang-tidy
**/build/
**/oh_modules/
**/node_modules/
/.git/
/.arkui-x/
/.preview/
.DS_Store
